# Objective Caml source
  ".*\\.ml[l]?"  -> frame open:"(*" line:"*" close:"*)"
# We add '_' in mli to comply with [ppx_js_style -check-doc-comments].
| ".*\\.mli"     -> frame open:"(*_" line:"*" close:"*)"
| ".*\\.fml[i]?" -> frame open:"(*" line:"*" close:"*)"
| ".*\\.mly"     -> frame open:"/*" line:"*" close:"*/"
# C source
| ".*\\.[chy]"    -> frame open:"/*" line:"*" close:"*/"
# Latex
| ".*\\.tex"     -> frame open:"%"  line:"%" close:"%"
# Misc
| ".*Makefile.*" -> frame open:"#"  line:"#" close:"#"
| ".*README.*"   -> frame open:"*"  line:"*" close:"*"
| ".*LICENSE.*"  -> frame open:"*"  line:"*" close:"*"
