name: test-deploy-doc

on:
  pull_request:
    branches:
      - main
    # Review gh actions docs if you want to further define triggers, paths, etc
    # https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#on

jobs:
  test-deploy:
    name: Test deployment
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup Node
        uses: actions/setup-node@v5
        with:
          node-version: 24
          cache: npm
          cache-dependency-path: doc/package-lock.json

      - name: Install Docusaurus Dependencies
        working-directory: ./doc
        run: npm ci

      - name: Setup OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: "5.3.x"
          dune-cache: true
          opam-repositories: |
            default: https://github.com/ocaml/opam-repository.git
            mbarbin: https://github.com/mbarbin/opam-repository.git
      #     alpha:   https://github.com/kit-ty-kate/opam-alpha-repository.git
      #     janestreet-bleeding: https://github.com/janestreet/opam-repository.git
      #     janestreet-bleeding-external: https://github.com/janestreet/opam-repository.git#external-packages

      - name: Install OCaml Dependencies
        run: opam install . --deps-only --with-doc

      - name: Build Odoc Pages
        run: opam exec -- dune build @doc

      - name: Copy Odoc Pages to Docusaurus Static Directory
        run: |
          rm -rf doc/static/odoc
          cp -R _build/default/_doc/_html doc/static/odoc

      - name: Build Website
        working-directory: ./doc
        run: npm run build
